<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control search-field" type="search" placeholder="Search" aria-label="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default mr-4">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>