<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <i class="fa fa-user fa-lg"></i>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#">
        <span class="fa fa-sign-in fa-fw"> &nbsp;&nbsp;Login</span>
    </a>
    <a class="dropdown-item" href="#">
        <span class="fa fa-user-plus fa-fw">&nbsp;&nbsp;Register </span>
    </a>
</div>